body{
    color: white;
}
p{
    font-family: 'Oswald', sans-serif;
    font-weight:lighter;
}
/* .row{
    border: 2px solid black;
} */
header{
    font-family: 'Courgette', sans-serif; 
    border-bottom: 2px solid white; 
}
.navbar{
    background: #067790;
}
.navbar-brand{
    font-size: 25px;
}
.fa-1x {
    font-size: 1.5rem;
}
.navbar-toggler.toggler-example {
    cursor: pointer;
    
}

nav li{
    font-family: 'Oswald', sans-serif;

}
 #profil, #competences,#loisirs{
    border-bottom: 2px solid white;
}
#profil div, #competences div, #loisirs div{
    padding: 20px 0;
}
.infos{
    background: #067790;
}
.parcours{
    background: coral;
}
h3, h4{
    background-color: white;
    color: #067790;
    margin: 0 100px;     
}
.linkedin a{
    color: white;
}
.fa-info-circle{
    font-size: 30px;
}
.fa-chart-bar, .fa-paint-brush{
    font-size: 30px;
    background-color:  #067790;
    color: white;
    border-radius: 50%;
    padding: 20px;
}
