body{
    color: white;
}
p{
    font-family: 'Oswald', sans-serif;
    font-weight:lighter;
}
/* .row{
    border: 2px solid black;
} */
header{
    font-family: 'Courgette', sans-serif; 
    border-bottom: 2px solid white; 
}
.navbar{
    background: #067790;
}
.navbar-brand{
    font-size: 25px;
}
.fa-1x {
    font-size: 1.5rem;
}
.navbar-toggler.toggler-example {
    cursor: pointer;
    
}

nav li{
    font-family: 'Oswald', sans-serif;

}
/* ***************infos */
 #about, #competences{
    border-bottom: 2px solid white;
    background: #067790
}
#about div, #competences div{
    padding: 20px 30px;
}

h4{
    background-color: white;
    color: #067790;
    padding: 15px 35px; 
}
.linkedin a{
    color: white;
}
.fa-info-circle{
    font-size: 30px;
}
.fa-chart-bar{
    font-size: 30px;
    background-color:  #067790;
    color: white;
    border-radius: 50%;
    padding: 5px;
}
/* ******************parcours */
.parcours{
    background: white;
    color: #067790;
}

#profil div, #formations div, #experiences div, #realisations div, #loisirs div{
    padding: 20px 30px;
}

#profil img{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin: 20px 0;
}
#formations h4, #experiences h4, #realisations h4, #loisirs h4{
    background-color: #067790;
    color: white;
    padding: 15px 35px; 
}
.bold{
    font-weight: bold;
}

.fa-graduation-cap, .fa-briefcase, .fa-code-branch, .fa-paint-brush{
    font-size: 30px;
    background-color:  white;
    color: #067790;
    border-radius: 50%;
    padding: 5px;
}
#realisations a{
    color: #067790;
}