body{
    color: white;
    height: 100vh;
}
p{
    font-family: 'Oswald', sans-serif;
    font-weight:lighter;
}

#about div{
    background: #067790;
    padding: 270px 20px 280px;
    
}
h5{
    padding-top: 50px;
}
.photo{
    border-radius: 50%;
    width: 150px;
    height: 150px;
} 
.fa-github,.fa-linkedin,.fa-envelope, .fa-mobile{
    font-size: 30px;
    color: white;
    margin-right: 25px;
}
#motivation div{
    background: white;
    color: #067790;
    padding: 50px 22px;
}
.job{
    padding-top: 16px;
}
.fa-star{
    padding-top: 16px;
}
.text-justify{
    padding: 0 16px;
}
.justify-content-end{
    padding: 0 25px;
}
